<template>
    <!-- Reusing one modal, rather than seperate modals for each page, in case of animation -->
    <Modal>
        <GroupInfoView
            v-if="currentPage === 1"
            :form="form"
            @next="currentPage++"
        />
        <GroupMembersView
            v-if="currentPage === 2"
            :form="form"
            @next="currentPage++"
            @back="currentPage--"
        />
    </Modal>
</template>

<script>
    import Modal from "../Base/Modal";
    import GroupInfoView from "../CreateGroupModal/GroupInfoView";
    import GroupMembersView from "../CreateGroupModal/GroupMembersView";

    export default {
        name: "CreateGroupModal",
        components: {
            Modal,
            GroupInfoView,
            GroupMembersView,
        },
        data() {
            return {
                currentPage: 1,
                form: {
                    name: null,
                    avatar: null,
                    members: [],
                }
            }
        },
    }
</script>