<template>
    <div>
        <div class="modal-header row">
            <div class="col flex-start">
                <button class="btn flex-start icon icon-back" @click="$emit('back')"></button>
            </div>
            <div class="col">
                <h4 class="modal-title">Group Members</h4>
            </div>
            <div class="col flex-end">
                <button class="btn btn-next" @click="save" :disabled="!canSave">Save</button>
            </div>
        </div>
        <div class="modal-body">
            <div class="search-section">
                <div class="search-wrapper">
                    <label class="icon icon-search" for="memberSearchInput"></label>
                    <input
                        type="text"
                        id="memberSearchInput"
                        class="rounded-input with-left-icon with-right-icon"
                        placeholder="Search"
                        v-model="search"
                    >
                    <i class="icon icon-close"></i>
                </div>
            </div>
            <ul v-if="contacts && contacts.length" class="contact-list">
                <li v-for="contact in contacts" :key="`contact-${contact.id}`">
                    <div class="row">
                        <div class="col avatar-col">
                            <img :src="contact.avatar" :alt="`${contact.first_name} ${contact.last_name}`" class="avatar">
                        </div>
                        <div class="col">
                            {{contact.first_name}} {{contact.last_name}} {{contact.id}}
                        </div>
                        <div class="col flex-end">
                            <input
                                type="checkbox"
                                :id="`checkMember${contact.id}`"
                                class="checkbox"
                                @click="toggleMember(contact.id)"
                                :checked="form.members.includes(contact.id)"
                            >
                            <label :for="`checkMember${contact.id}`"></label>
                        </div>
                    </div>
                </li>
            </ul>
            <div v-else class="search-status">{{statusMessage}}</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "GroupMembersView",
        props: ['form'],
        data() {
            return {
                search: '',
                contacts: null,
                error: false,
            }
        },
        watch: {
            search() {
                // could be a good idea to debounce this
                this.fetchContacts();
            }
        },
        computed: {
            statusMessage() {
                if(this.contacts && !this.contacts.length) {
                    return "No Contacts Found";
                } else if(!this.contacts && !this.error) {
                    return "Loading...";
                } else if(!this.contacts && this.error) {
                    return "An Error Occurred";
                }
                return null;
            },
            canSave() {
                return this.form.name && this.form.members.length;
            }
        },
        mounted() {
            this.fetchContacts();
        },
        methods: {
            fetchContacts() {
                this.error = false;
                this.axios.get(`getContacts?search=${this.search}`)
                    .then(response => {
                        this.contacts = response.data.contacts;
                    })
                    .catch(() => {
                        this.error = true;
                    });
            },
            toggleMember(id) {
                if(this.form.members.includes(id)) {
                    let pos = this.form.members.findIndex(m => m === id);
                    this.form.members.splice(pos, 1);
                } else {
                    this.form.members.push(id);
                }
            },
            save() {
                this.axios.post('/createGroup', this.form)
                    .then(response => {
                        alert('Group created');
                        console.log(response.data);
                    })
                    .catch(error => {
                        alert(`Error ${error.response.status}`);
                    })
            }
        }
    }
</script>

<style scoped>
    /* it might be a good idea to place these somewhere global as they can be
        reused for something else. */
    .search-section {
        box-shadow: 0 50px 50px 0 rgba(223,231,242,0.5);
        padding: 20px;
        height: 90px;
    }
    .search-wrapper {
        position: relative;
    }
    .search-wrapper .icon {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 17px;
    }
    .search-wrapper .icon-search {
        left: 17px;
    }
    .search-wrapper .icon-close {
        right: 17px;
        /* background: yellow; */
    }
    .contact-list {
        list-style: none;
        padding-top: 0 8px;
        overflow: auto;
        height: 370px;
        font-size: 14px;
        color: #405069;
    }
    .contact-list li {
        padding: 8px 20px;
    }
    .contact-list .col {
        justify-content: center;
    }
    .avatar-col {
        flex: 0 0 63px;
    }
    .avatar {
        width: 48px;
        height: 48px;
        border-radius: 24px;
    }
    .search-status {
        color: #405069;
        text-align: center;
        margin-top: 20px;
    }
</style>