<template>
    <div>
        <div class="modal-header row">
            <div class="col flex-start">
                <button class="btn flex-start icon icon-back"></button>
            </div>
            <div class="col">
                <h4 class="modal-title">New Group</h4>
            </div>
            <div class="col flex-end">
                <button class="btn btn-next" :disabled="!canGoToNext" @click="next">
                    Next
                </button>
            </div>
        </div>
        <div class="modal-body">
            <div class="file-upload-wrapper">
                <input
                    type="file"
                    class="file-upload-input"
                    id="fileUploadInput"
                    @change="onFileSelected"
                >
                <label
                    class="file-upload-label"
                    for="fileUploadInput"
                    :style="form.avatar ? `background-image: url('${form.avatar}')` : ''"
                />
                <button
                    v-if="form.avatar"
                    class="btn upload-clear-btn icon icon-close"
                    @click="resetAvatar"
                />
                <div class="file-upload-help">
                    Drag & drop an image, or click to upload
                </div>
            </div>
            <input
                type="text"
                class="rounded-input"
                placeholder="Enter group name"
                v-model="form.name"
            >
        </div>
    </div>
</template>

<script>
    export default {
        name: "GroupInfoView",
        props: ['form'],
        computed: {
            canGoToNext() {
                return this.form.avatar && this.form.name;
            }
        },
        methods: {
            back() {
                this.$emit('back');
            },
            next() {
                this.$emit('next');
            },
            onFileSelected(event) {
                var reader = new FileReader()
                reader.readAsDataURL(event.target.files[0])
                reader.onload = ()=> {
                    this.form.avatar = reader.result;
                };
            },
            resetAvatar() {
                this.form.avatar = null;
            }
        }
    }
</script>

<style scoped>
    .modal-body {
        padding: 50px;
    }
    .file-upload-wrapper {
        margin-bottom: 28px;
    }
    .file-upload-wrapper .file-upload-help {
        color: #96A6BE;
        font-size: 16px;
        text-align: center;
    }
    .file-upload-input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    .file-upload-label {
        position: relative;
        display: block;
        background-image: url('/icons/Group.svg');
        width: 144px;
        height: 144px;
        margin: 0 auto 20px auto;
        cursor: pointer;
        border-radius: 72px;
    }
    .file-upload-label:hover:after,
    .file-upload-input:focus + label:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 80%;
        border-radius: 72px;
        background-color: #517EB9;
        background-image: url('/icons/File.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .upload-clear-btn {
        /* temporary hack */
        position: relative;
        top: -150px;
        right: -241px;
        background: #96A6BE;
        width: 18px;
        height: 18px;
        border-radius: 9px;
    }
</style>