/* NUNITO FONT - should narrow this down to the ones that are needed */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flex-start {
    align-items: flex-start;
}

.flex-end {
    align-items: flex-end;
}

.text-right {
    text-align: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.btn {
    border: 0;
    background: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
}

.btn:disabled {
    cursor: default;
}

.btn:disabled {
    opacity: 0.5;
}

.rounded-input {
    background: white;
    border: 1px solid #D5DEED;
    border-radius: 25px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color: #405069;
    font-size: 14px;
    width: 100%;
    outline: none;
}

.rounded-input:focus {
    /* takes place of the browser's default outline, for usability */
    border-color: #0054c5;
}

.rounded-input.with-left-icon {
    padding-left: 46px;
}

.rounded-input.with-right-icon {
    padding-left: 46px;
}

.checkbox {
    display: none;
}

.checkbox + label {
    background: #999;
    height: 24px;
    width: 24px;
    background-color: #96A6BE;
    background-image: url('/icons/Check.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    cursor: pointer;
}

.checkbox:checked + label {
    background-color: #93CCA7;
    background-image: url('/icons/Check.svg');
    padding: 0 0 0 0px;
}