<template>
    <div class="modal-wrapper">
        <div class="modal-overlay"></div>
        <div class="modal" :class="`modal-${size}`">
            <slot />
        </div>
    </div>
</template>
    
<script>
    export default {
        name: "Modal",
        props: {
            size: {
                type: String,
                default: "sm",
            }
        },
    }
</script>

<style>
    /*
        NOTE: I've made the assumption that most modal elements
        will be reused exactly for other modals, e.g. the next button.
    */
    .modal-overlay {
        background-color: #405069;
        opacity: 0.4;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .modal {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: white;
        border-radius: 6px;
        box-shadow: 0 0 50px 0 rgba(64,80,105,0.2);
        background: #F6F8FD;
    }
    /* Making an assumption here that 500px width is a standard sm size */
    .modal.modal-sm {
        width: 500px;
        height: 514px; /* TODO: temporary */
    }
    .modal-header {
        min-height: 54px;
        background: white;
        border-radius: 6px 6px 0 0;
        padding: 10px;
    }
    .modal-header .col {
        justify-content: center;
    }
    .modal-title {
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        color: #405069;
    }
    .modal-header .flex-start .icon {
        width: 24px;
        height: 24px;
        margin-left: 14px;
    }
    .modal-header .btn-next {
        background: #EFFAFF;
        /* design has slightly larger right padding, which I've ignored here */
        padding: 8px 16px;
        border-radius: 6px;
        color: #57ADD3;
        font-size: 15px;
        /* design has 600 weight, but 400 seems to look closer to the design */
        font-weight: 400;
    }
</style>