<template>
	<div id="app">
		<CreateGroupModal />
	</div>
</template>

<script>
	import CreateGroupModal from "./components/CreateGroupModal/CreateGroupModal";

	export default {
		name: "App",
		components: {
			CreateGroupModal,
		},
	};
</script>

<style>

</style>
